p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Muli', sans-serif;
 }
 
 /*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #3f88ca;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #1f5386; /* darker color when hovering */
text-decoration: none;
}


/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

  div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }

div.puzzle {
  background-image: url("../images/Your-turn.png");
}

div.fyi {
 background-image: url("../images/fyi.png");
}

div.demo {
  background-image: url("../images/Live-code.png");
}

div.note {
  background-image: url("../images/lightbulb.png");
}